mixin board(board)
    a(href=`/boards/${board._id}`) 제목 : #{board.title}
    div 
        span 내용 : #{board.maintext}
        br
        span 작성자 : #{board.username}
        br
        span #{board.time}
        br
        span 조회수 : #{board.views}
    hr